
<%-include("page_top.ejs")%>
<main>
<h1 id="h1">
Categories
</h1>
    <input id="name" placeholder="הקלד שם חדש">
    <button onclick="AddNewLine()">הוסף</button>
    <table>
        <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>NAME</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="mainTable">  </tbody>
    </table>
</main>
<script src="/js/script.js"></script>
<%-include("page_bottom.ejs")%>