<%-include("page_top.ejs")%>
<form action="http://localhost:5454/photo/upload" method="post" enctype="multipart/form-data">
<input type="file" id="image" name="image">
<button type="submit">הוסף</button>
</form>
<div id></div>
<%-include("page_bottom.ejs")%>